@charset UTF-8 

figure#rosto {
	position: relative;

}

figure#rosto img{
    width: 390px;
    height: 330px;
    padding: 10px;
    border: 1px solid black;
	box-shadow: 1px 1px 1px black;
    border-radius: 100%;
    }

div#interface {
    width: 1200px;
    background-color: white;
    margin:-10px auto 10px auto ;
    box-shadow: 0px 0px 10px red;
    padding: 10px;
}

/* menu principal */
nav#menu {
    display: block;
}

nav#menu h1{
    display: none;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -25px;
    left: 300px;
}

nav#menu li{
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu a{
    text-decoration: none;
    color: black;
}

nav#menu a:hover{
    color: white;
}